<h1>Sign In</h1>


<form action="<%= session_url %>" method="POST">
  <label for="user_username">Username</label>
  <input type="text" name="user[username]" id="user_username">
  <br>
  <label for="user_password">Password</label>
  <input type="password" name="user[password]" id="user_password">
  <br>
  <button>Login</button>
</form>
